.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}